<% if @stock %>
<br>
<h4><u>Search Result</u></h4>
<div class='well results-block'>
   <strong>Symbol: </strong><%= @stock.ticker %>
   <strong>Name: </strong><%= @stock.name %>
   <strong>Price: </strong><%= @stock.last_price %>
</div>   
<% end %>